/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
.logo-footer{
	width: 300px;
	display: block;
	padding-top: 55px;
	margin: auto auto 30px auto;
}
#logo a.standard-logo{
	display: block !important;
}
.color-dark{
	color: #000 !important;
}
#header, #header-wrap, #logo img {
    float: none;
    margin: auto;
}
.section-fitur {
	position: relative;
	margin: 60px 0;
	padding: 60px 0;
	background-color: #F9F9F9;
	overflow: hidden;
}
hr.garis-bawah-dashed {
	border :0px;
	border-top:1px dashed #a6a6a6;
}
hr.garis-bawah-biasa {
	border :0px;
	border-top:1px solid #bfbfbf;
	width:100%;
}
hr.garis-bawah-warna {
	border :0px;
	border-top:1px solid #20aa4b;
	width:100%;
}
hr.garis-bawah-samar {
	border :0px;
	height:1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75),rgba(0,0,0,0)) ;
}
p.paragraf{
	font-family: sans-serif;
	font-size:14px;
	color:#8c8c8c;
	text-align: justify;
}
p.paragraf-medium{
	font-family: sans-serif;
	font-size:17px;
	color:#8c8c8c;
	text-align: justify;
}
p.paragraf-medium-tengah{
	font-family: sans-serif;
	font-size:17px;
	color:#8c8c8c;
	text-align: center;
}
h2.custom{
	color:#6f706f;
}
h2.htransparant{
	color:#ffffff;
	size:15px;
}
.button-orange {
    background-color: #ff7225;
}
.button.button-3d.button-orange:hover {
    background-color: #ff7225 !important;
    opacity: 0.9;
}
.block{
	display: block;
}
.capitalize{
	text-transform: capitalize !important;
	letter-spacing: 1px !important;
}
.p-x-2{
	padding: 0px 15px !important;
}

.auth a{
	border-color: #31c860 !important;
    background: #31c860;
    color: #fff !important;
    padding: 10px 10px !important;
    margin-left: 10px !important;
    border-radius: 5px !important;
    transition:.3s;
}
.auth a:hover{
	border-color: #1b863c !important;
    background: #1b863c;
    transition:.3s;
}
.btn-auth{
	border-color: #31c860 !important;
    background: #31c860;
    color: #fff !important;
    padding: 10px 10px !important;
    transition:.3s;
    display: block;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.btn-auth:hover{
	border-color: #1b863c !important;
    background: #1b863c;
    transition: .3s;
   
}
.valign-middle{
	vertical-align: middle !important;
}
#header {
	position: relative;
	background-color: #20aa4b;
	border-bottom: 1px solid #20aa4b;
}
#header.full-header { border-bottom-color: #20aa4b; }
#header.full-header #primary-menu > ul {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 0px solid #20aa4b;
}
#primary-menu ul li > a {
	display: block;
	line-height: 22px;
	padding: 39px 10px;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: margin .4s ease, padding .4s ease;
	-o-transition: margin .4s ease, padding .4s ease;
	transition: margin .4s ease, padding .4s ease;
}
#primary-menu ul li:hover > a,
#primary-menu ul li.current > a { color: #c6ff1a; }
#primary-menu.style-4 > ul > li:hover > a,
#primary-menu.style-4 > ul > li.current > a { border-color: #c6ff1a; }
ul.tab-nav:not(.tab-nav-lg) li a {
	display: block;
	padding: 0 15px;
	color: #444;
	height: 40px;
	line-height: 40px;
	background-color: #ebebeb;
	font-size: 14px;
	font-weight: bold;
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	position: relative;
	top: 0px;
	color:#444;
	background-color: #ffffff;
	border-top: 2px solid #fb9d0a;
}
.pricing-title {
    background-color: #20aa4b;
    border-radius: 0;
}
.pricing-title {
    text-shadow: 1px 1px 1px #21aa4c;
}
.pricing-title h3 {
    color: #fff;
}
.pricing-box {
	position: relative;
	/*border: 1px solid rgba(0,0,0,0.075);*/
	border: 1px solid #20aa4b;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 10px;
}
.bgcolor,
.bgcolor #header-wrap { background-color: #0d8e35 !important; }
#footer {
	background-color: #939393;
	color: #CCC;

	border-top:1px solid #d4d5d4;
}
#footer.dark,
.dark #footer {
	background-color: #ffffff;
	color: #8f8f90;

	border-top:1px solid #d4d5d4;
}

#gotoTop:hover { background-color: #20aa4b; }

.clients-grid li:before,
.testimonials-grid li:before {
	height: 100%;
	top: 0;
	left: -1px;
	border-left: 0px dashed #DDD;
}

.clients-grid li:after,
.testimonials-grid li:after {
	width: 100%;
	height: 0;
	top: auto;
	left: 0;
	bottom: -1px;
	border-bottom: 0px dashed #DDD;
}
.pricing-features { 
	border-bottom: 0px solid rgba(0,0,0,0.075); 
	padding: 10px;
}
.pricing-features.pf-2{
    border-bottom: 1px solid #eee;
    border-top: 0px solid #eee;
}
.pricing-action {
    padding: 10px;
    background-color: #f7f7f7;
}
.pricing-features.pf-2:nth-child(1){
    border-bottom: 0px solid #eee;
    border-top: 1px solid #eee;
}
.pricing-features.pf-2:nth-last-child(2){
    border-bottom: 1px solid #eee;
    border-top: 0px solid #eee;
}

.pf-2 h3{
	font-family: arial;
}
.feature-box.fbox-plain.fbox-small .fbox-icon i {
    font-size: 20px;
    margin-top: -9px;
}
.line-h-1{
	line-height: 1 !important;
}
.feature-box.fbox-plain.fbox-small {
    padding-left: 35px;
}
.small-1{
	font-size:11px;
}
.feature-box.fbox-plain .fbox-icon i.color-1{
	color: #21aa4c;
}
.feature-box.fbox-plain .fbox-icon i.color-2{
	color: #ff3115;
}
.feature-box.fbox-plain.fbox-small p.list {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0;
    font-size: 14px;
    color: #575757;
    line-height: .3 !important;
}
#header.full-header #logo {
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #20aa4b;
}
#header.sticky-header #header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #20aa4b;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.divider.divider-center.divider-short:after {
	left: 50% !important;
	right: auto !important;
	margin-left: 20px;
	width: 15%;
}
.divider:after,
.divider.divider-center:before,
.divider.divider-center.divider-short:before {
	content: '';
	position: absolute;
	width: 100%;
	top: 8px;
	left: 30px;
	height: 0;
	border-top: 1px solid #b3b3b3;
}
.divider.divider-center.divider-short:before {
	left: auto !important;
	right: 50%;
	margin-right: 20px;
	width: 15%;
}
.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6 {
	display: block;
	background: transparent;
	padding: 0 0 10px;
	border-bottom: 1px solid #20aa4b;
}
.sidenav > .ui-tabs-active > a,
.sidenav > .ui-tabs-active > a:hover {
	position: relative;
	z-index: 2;
	border-color: rgba(0,0,0,0.1) !important;
	color: #FFF !important;
	font-weight: 600;
	background-color: #20aa4b !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.footer-tengah{
	font-family: sans-serif;
	font-size:15px;
	color:#ffffff;
	text-align: center;
}
.links-copyright a {
	display: inline-block;
	margin: 0 3px;
	color: #ffffff;
	border-bottom: 1px dotted #444;
}

.links-copyright a:hover {
	color: #ebe9e9;
	border-bottom: 1px solid #666;
}
.btn-request{
	background-color: #0d8e35;
	color:#ffffff;
}
.btn-request:hover{
	background-color: #0e9f3b;
	color:#ffffff;
}
.border-color {border-color: none;}


.btn-green{
	background-color: #35bc49;
	color:#ffffff; 
}
.btn-green:hover{
	background-color: #28ab3b;
	color:#ffffff; 
}
.btn-lain{
	background-color: #0876c2;
	color:#ffffff; 
}
.btn-lain:hover{
	background-color: #0c6caf;
	color:#ffffff;
}

.border-color-lain {border-color:  #0462a3 !important;}

.button-teal { background-color: #0e9f3b; }
.button-3d.button-teal:hover,
.button-reveal.button-teal:hover,
.button-border.button-teal:hover,
.button-border.button-teal.button-fill:before { background-color: #0e9f3b !important; }


.dark #copyrights {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #8f8f90;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.dark .copyright-links a {
	color: #e8e9e9;
	border-bottom-color: rgba(255,255,255,0.25);
}
.dark .copyright-links a:hover {
	color: #d5d5d5;
	border-bottom-color: rgba(255,255,255,0.35);
}
.iconlist-color li i { color: #fb9d0a; }
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a { color: #c6ff1a; }

.testi-content p {
	margin-bottom: 0;
	font-family: 'Crete Round', serif;
	font-style: italic;
	font-size: 17px;
	text-align: center;
	color:#2c2c2c;
}
.testi-meta {
	margin-bottom: 0;
	font-family: 'Crete Round', serif;
	font-style: italic;
	font-size: 17px;
	text-align: center;
	color:#028b02;
}
a {
	text-decoration: none !important;
	color: #8f8f90;
}
.dark a:hover {color: #bfc0c1;}

.testimonial {
	position: relative;
	padding: 20px;
	background-color: transparent;
	border-color: transparent;
	box-shadow: 0px 0px 0px;
}
.widget_nav_menu li,
.widget_links li,
.widget_meta li,
.widget_archive li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_categories li,
.widget_pages li,
.widget_rss li { padding: 4px; 
padding-left:0px;
}
.dark .widget h4 { color: #464646; }

.dark #copyrights {
	background-color: #575757;
	color: #d5d5d5;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
ul.tab-nav:not(.tab-nav-lg) li {
    float: left;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 0;
    height: 40px;
    text-align: center;
}
i.putih{
	color:#ffffff;
}
.mt-1{
	margin-top: 10px;
}
.mb-1{
	margin-bottom: 10px;
}
.semi-bold{
	font-weight: 500;
}
.born{
	display: block;
    position: absolute;
    width: 100px;
    right: 0;
}
.auth-mobile{
	display: none;
}

/*mobile*/
@media (max-width: 1120px){

	#logo img {
	    width: 200px;
	    padding-top: 20px !important;
	}
	#header, #header-wrap, #logo img{
		height: 100%;
	}
}
@media (max-width: 991px){
	.auth-desktop{
		display: none !important;
	}
	.auth-mobile{
		display: block;
	}
	
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a {
	    color: #69ff2d !important;
	}
}
@media (max-width: 767px){

	.m-b-m{
		margin-bottom: 10px !important;
	}
	
	
}